<div class="d-flex justify-content-between py-3">
  <div class="d-flex align-items-center gap-2">
    <%= link_to credit_cards_path, title: "Back to list", class: "btn btn-sm btn-warning" do %>
      <i class="bi bi-arrow-left"></i>
    <% end %>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb fs-3 mb-0">
        <li class="breadcrumb-item fw-semibold">
          <%= @credit_card.model_name.human.pluralize %>
        </li>
        <li class="breadcrumb-item" aria-current="page">Adding</li>
      </ol>
    </nav>
  </div>

  <div class="d-flex align-self-center gap-1">
    <div class="dropdown">
      <button class="btn btn-secondary" data-bs-toggle="dropdown">
        <i class="bi bi-three-dots-vertical"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>

<% if notice %>
  <div class="mt-2">
    <div class="alert alert-success"><%= notice %></div>
  </div>
<% end %>

<%= render "form", credit_card: @credit_card, disabled: false %>